<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>agregar una novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="titulo" name="titulo">
                </div>
                <div class="form-group">
                    <textarea name="subtitulo" type="text" class="form-control" placeholder="subtitulo"></textarea>
                    <div class="form-control">
                        <textarea name="cuerpo" class="form-control" type="text" placeholder="cuerpo"></textarea>
                    </div>
                    <div class="form-control">
                        <label>Imagen <input type="file" name="imagen" id="imagen" /></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">guardar</button>

            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>